  {% extends "base.html" %}

  {% block title %}About me{% endblock title %} 

  {% load static %}
  {% block content %}
  
    <div class="container">
        <div class="img-container">
            <img id="photo" src="{% static 'img/DSC06634.JPG' %}">
        </div>
        <div class="about-container">
            <p>I'm a developer with a strong passion for problem-solving and building practical solutions through code. I have experience with Java, React, Django, and have been gaining hands-on experience by working on personal and collaborative projects. My focus is on writing clean, efficient code while continuously learning and growing in the field. I'm excited to take on new challenges and contribute to real-world applications.</p>
        </div>
    </div>
    <div class="myskills-container">
        <h2>My Skills</h2>
        <div class="mytable-container">
            <p>Java</p>
            <p>React</p>
            <p>Django</p>
            <p>Python</p>
            <p>Flask</p>
        </div>
    </div>    
    
    

    {% endblock content %}