  {% extends "base.html" %}

  {% block title %}About me{% endblock title %} 

  {% load static %}
  {% block content %}
  
    <div class="container">
        <div class="img-container">
            <img id="photo" src="{% static 'img/IMG_0541.JPG' %}">
        </div>
        <div class="about-container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio minima natus at sapiente, porro accusantium id necessitatibus a, ullam, odit voluptatum fugit repudiandae blanditiis recusandae? Quis sequi illum dicta a!</p>
        </div>
    </div>
    <div class="skills-container">
        <h2>My Skills</h2>
        <div class="table-container">
            <p>Java</p>
            <p>Java</p>
            <p>Java</p>
            <p>Java</p>
            <p>Java</p>
            <p>Java</p>
        </div>
    </div>    
    
    

    {% endblock content %}