 {% extends "base.html" %}

  {% block title %}Contact Me{% endblock title %} 

  {% load static %}
  {% block content %}

    <div class="container">
        <div class="img-container">
            <img id="photo" src="{% static 'img/IMG_0541.JPG' %}">
        </div>
        <div class="contact-container">
            <form id="contact-form" method="POST">
                {% csrf_token %}
                Name: {{ form.name }}
                Email: {{ form.email }}
                Message: {{ form.message }}         
                <button class="email">Send</button>
            </form>      
        </div>
    </div>














 {% endblock content %}