  {% extends "base.html" %}

  {% block title %}Experience{% endblock title %} 

  {% load static %}
  {% block content %}
  <div class="experience-container">
      <h2>My Projects</h2>
      <div class="experience-card-cont">
          <div class="experience-card">
              <img src="{% static 'img/announcement2.jpg' %}">
              <h3>My Experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam velit odit adipisci iusto mollitia omnis! Minus deserunt asperiores ut aperiam distinctio! Enim quo natus aliquam, ipsa fuga saepe quis pariatur.</p>
                <p class="skill">Java</p>
                <p class="skill">Java</p>
          </div>
          <div class="experience-card">
              <img src="{% static 'img/cart-shopping-solid.svg' %}">
              <h3>My Experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam velit odit adipisci iusto mollitia omnis! Minus deserunt asperiores ut aperiam distinctio! Enim quo natus aliquam, ipsa fuga saepe quis pariatur.</p>
                <p class="skill">Django</p>
          </div> 
          <div class="experience-card">
              <img src="{% static 'img/course2.jpg' %}">
              <h3>My Experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam velit odit adipisci iusto mollitia omnis! Minus deserunt asperiores ut aperiam distinctio! Enim quo natus aliquam, ipsa fuga saepe quis pariatur.</p>
                <p class="skill">React</p>
          </div>
        </div>     
  </div>
  
  
  
  {% endblock content %}