  {% extends "base.html" %}

  {% block title %}Experience{% endblock title %} 

  {% load static %}
  {% block content %}
  <div class="experience-container">
      <h2>My Projects</h2>
      <div class="experience-card-cont">
          <div class="experience-card">
              <img src="{% static 'img/announcement2.jpg' %}">
              <h3>JavaScript</h3>
                <p>I’ve been working with JavaScript to build responsive, interactive web applications using DOM manipulation, event handling, and asynchronous programming with APIs.</p>
                <p class="skill">2025</p>
          </div>
          <div class="experience-card">
              <img src="{% static 'img/cart-shopping-solid.svg' %}">
              <h3>React</h3>
                <p>I’ve been building dynamic user interfaces with React, focusing on component-based architecture, state management with hooks, and responsive design. I’ve worked on small projects that utilize props, conditional rendering, and API integration to create interactive and maintainable front-end applications.</p>
                <p class="skill">2025</p>
          </div> 
          <div class="experience-card">
              <img src="{% static 'img/course2.jpg' %}">
              <h3>Django</h3>
                <p>I’ve been working with Django to build full-stack web applications using Python. I've gained experience with Django’s MVC architecture, creating models, views, and templates, as well as handling user authentication and connecting to databases with the ORM.</p>
                <p class="skill">2025</p>
          </div>
        </div>     
  </div>
  
  
  
  {% endblock content %}