* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: rgb(12, 78, 193);
  color: #FFF;
  height: 50px;
  padding: 1em;
  font-weight: bold;
}

.footer {
  background-color: rgb(12, 78, 193);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  align-self: center;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgb(12, 78, 193);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    border-radius: 10px;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(12, 78, 193);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

h1{
    margin: 10px;
}
.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    height: fit-content;
    background-color: gainsboro;
}

.img-container {
    padding: 20px;
}

.img-container img{
    height: 150px;
    border-radius: 90px;
    border: 3px solid blue;
}

.about-container {
    padding: 20px;
    margin: 20px;
}

.skills-container {
    background-color: rgb(12, 78, 193);
    padding: 5px;
}

.skills-container h2{
    color: white;
}

.table-container {
    justify-self: center;
    width: 400px;
}


h2 {
    text-align: center;
    margin: 20px;
}

.table-container p{
    justify-self: center;
    justify-content: center;
    margin: 5px;
    color: white;
    padding: 2px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 14px;
    width: 50px;
    text-align: center;
    background-color: rgb(12, 78, 193);
}

.project-container {
    padding: 10px;
}

.card{
    margin: 10px;
    justify-self: center;
    border: 2px solid black;
    text-align: center;
}

.card img{
    width: 70vh;
    height: 70vh;
}

.experience-container{
    padding: 10px;
}

.experience-card {
    margin: 10px;
    justify-self: center;
    border: 2px solid black;
    text-align: center;
    width: 80vh;
}

.experience-card img{
    height: 70vh;
    width: 100%;
}

.skill {
    border: 2px solid black;
    border-radius: 14px;
    width: fit-content;
    justify-content: center;
    margin: 5px;
    color: white;
    padding: 2px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(12, 78, 193);
}

.email{
    display: flex;
    justify-self: center;
    background-color: rgb(12, 78, 193);
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin: 5px;
}



/* media queries 

/*tablet*/

@media(min-width:640px){

    .top-nav {
        font-size: 30px;
        font-weight: bold;
    }

    .menu{
        display: flex;
        height: 32px;
        font-size: 16px;
        font-weight: normal;
    }

    .menu a{
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    .container {
        height: 60vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .about-container{
        width: 400px;
    }

    .table-container {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        justify-self: center;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
    }

    .card-container {
        display: flex;
        justify-content: space-evenly;
    }

    .card img{
        width: 40vh;
        height: 40vh;
    }

    .experience-card-cont{
        display: flex;
        justify-content: space-evenly;
    }

    .contact-container {
        width: 110%;
        height: 100%;
        background-color: gainsboro;
        text-align: center;
        padding: 20px;

    }



}

/*desktop*/

@media(min-width:1007px){
    header {
        width: 100vw;
        height: 60vh;
    }

    .header-init {
        height: 20vh;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }

    .menu{
        margin-right: 20px;
    }

}
