{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="https://kit.fontawesome.com/337be747ec.js" crossorigin="anonymous"></script>
    <title>{% block title %}Welcome{% endblock title %}</title>
</head>
<body>
    <section class="top-nav">
        <div>
            My Portfolio
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li><a href="{% url 'about' %}">About me</a></li>
            <li><a href="{% url 'experience' %}">Experience</a></li>
            <li><a href="{% url 'projects_lists' %}">Projects</a></li>
            <li><a href="{% url 'contact' %}">Contact me</a></li>
        </ul>
    </section>

  {% block content %}
  
  
  {% endblock content %}
    <footer>
        <div class="footer-container">
            <div>
                <p>Check me out on social</span></p>
            </div>
            <div class="copyright-container">
                <p class="contact-border">Copyright &copy: 2024</p>
                <p class="contact-bold">Privacy Policy</p>
            </div>
            <div class="social-container">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </footer>



</body>
</html>